/* Estilo para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Color de fondo */
}
/* Estilo para el navbar */
.navbar {
    background-color: #343a40; /* Color de fondo */
    border-bottom: 1px solid #dee2e6; /* Borde inferior */
}
.navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff; /* Color del texto */
}
.navbar-nav .nav-link {
    color: #ffffff; /* Color del texto */
}
/* Estilo para el carrusel */
#carouselExampleControls {
    margin-top: 20px; /* Espacio superior */
}
/* Estilo para las imágenes del carrusel */
#carouselExampleControls img {
    max-width: 100%; /* Hacer que la imagen sea responsive */
    height: auto; /* Mantener la proporción de aspecto */
}
/* Estilo para las tarjetas de productos */
.card {
    margin-bottom: 20px; /* Espacio inferior */
    border: none; /* Eliminar el borde */
}
.card-img-top {
    max-width: 100%; /* Hacer que la imagen sea responsive */
    height: auto; /* Mantener la proporción de aspecto */
}
.card-title {
    font-weight: bold; /* Texto en negrita */
    font-size: 20px; /* Tamaño de la fuente */
}
.card-text {
    color: #6c757d; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
}
/* Estilo para el botón */
.btn-primary {
    background-color: #007bff; /* Color de fondo */
    border-color: #007bff; /* Color del borde */
}
.btn-primary:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
    border-color: #0056b3; /* Color del borde al pasar el ratón */
}
.w-100{
    width: 800px; 
    height:400px;
    max-width: 800px;
    margin-right: auto;
}
.card {
    background-color: white;
    width: 350px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.carrusel-item img{
    width: 50%;
    object-fit: contain;
}