/* Estilo para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Color de fondo */
}
/* Estilo para el navbar */
.navbar {
    background-color: #343a40; /* Color de fondo */
    border-bottom: 5px solid #dee2e6; /* Borde inferior */
}
.navbar-brand {
    font-size: 28px;
    font-weight: bold;
    max-width: auto;
    color: #ffffff; /* Color del texto */
}
.navbar-nav .nav-link {
    color: #ffffff; /* Color del texto */
    
}
.carousel-inner{
    max-height: 1080px;
    
    justify-content: center;
    align-items: center;
}